/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    font-family: 'Orbitron', sans-serif;
    background-color: #0f0f0f;
    color: #fff;
    display: flex;
    flex-direction: column;
}

/* Fondo animado */
.visual-fondo {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -2;
    width: 100%;
    height: 100%;
    background: black url('../media/background.gif') center center / cover no-repeat;
    opacity: 0.25;
}

/* Contenedor principal que crece para empujar el footer hacia abajo */
.main-wrapper {
    flex: 1;
    padding: 40px 20px;
    background: rgba(10, 10, 10, 0.85);
}

/* Estilos para el título */
.titulo-secundario {
    font-size: 3em;
    margin-bottom: 30px;
    text-align: center;
    color: #e600ff;
    text-shadow: 0 0 10px #e600ff, 0 0 20px #7f00ff;
}

/* Título */
.encabezado-jugadores {
    text-align: center;
    font-size: 3em;
    margin: 60px 0 30px;
    color: #00ffe7;
    text-shadow: 0 0 15px #00ffe7, 0 0 30px #00ffe7;
    animation: brillar 3s ease-in-out infinite;
}

@keyframes brillar {

    0%,
    100% {
        text-shadow: 0 0 10px #00ffe7;
    }

    50% {
        text-shadow: 0 0 30px #00ffe7, 0 0 40px #00ffe7;
    }
}

/* Estilo tabla */
.tabla-estilizada {
    width: 100%;
    max-width: 1000px;
    margin: auto;
    border-collapse: collapse;
    background-color: #1a1a1a;
    box-shadow: 0 0 12px #7f00ff66;
    border-radius: 10px;
    overflow: hidden;
}

.tabla-estilizada th,
.tabla-estilizada td {
    padding: 15px;
    text-align: center;
    border-bottom: 1px solid #333;
}

.tabla-estilizada th {
    background-color: #2e003e;
    color: #ff00ff;
}

.tabla-estilizada tr:hover {
    background-color: #170224;
}

/* Footer fijo al fondo */
.footer-fijo {
    padding: 20px;
    text-align: center;
    background-color: #0d0d0d;
    color: #aaa;
    border-top: 1px solid #222;
    box-shadow: 0 -2px 15px #7f00ff33;
    font-size: 0.9em;
}